In [20]:
import requests
from bs4 import BeautifulSoup
import pymongo
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)
db = client.job_data
population = db.population

In [21]:
url = 'https://www.worldatlas.com/articles/us-states-by-population.html'
s = BeautifulSoup(requests.get(url).text)
rows = s.find('div', id="artReg-table").find('table').find_all('tr')
data = []
for row in rows[1:]:
    tds = row.find_all('td')
    data.append({"State": tds[1].text, "Population": tds[2].text})
population.insert_many(data)

In [8]:
#Population
us_pop = pd.read_html(url)
us_pop

[    Rank          ï»¿State  Population
 0      1      California    39536653
 1      2           Texas    28304596
 2      3         Florida    20984400
 3      4        New York    19849399
 4      5    Pennsylvania    12805537
 5      6        Illinois    12802023
 6      7            Ohio    11658609
 7      8         Georgia    10429379
 8      9  North Carolina    10273419
 9     10        Michigan     9962311
 10    11      New Jersey     9005644
 11    12        Virginia     8470020
 12    13      Washington     7405743
 13    14         Arizona     7016270
 14    15   Massachusetts     6859819
 15    16       Tennessee     6715984
 16    17         Indiana     6666818
 17    18        Missouri     6113532
 18    19        Maryland     6052177
 19    20       Wisconsin     5795483
 20    21        Colorado     5607154
 21    22       Minnesota     5576606
 22    23  South Carolina     5024369
 23    24         Alabama     4874747
 24    25       Louisiana     4684333
 25    26        Kentucky     4454189
 26    27          Oregon     4142776
 27    28        Oklahoma     3930864
 28    29     Connecticut     3588184
 29    30            Iowa     3145711
 30    31            Utah     3101833
 31    32        Arkansas     3004279
 32    33          Nevada     2998039
 33    34     Mississippi     2984100
 34    35          Kansas     2913123
 35    36      New Mexico     2088070
 36    37        Nebraska     1920076
 37    38   West Virginia     1815857
 38    39           Idaho     1716943
 39    40          Hawaii     1427538
 40    41   New Hampshire     1342795
 41    42           Maine     1335907
 42    43    Rhode Island     1059639
 43    44         Montana     1050493
 44    45        Delaware      961939
 45    46    South Dakota      869666
 46    47    North Dakota      755393
 47    48          Alaska      739795
 48    49         Vermont      623657
 49    50         Wyoming      579315]

In [12]:
#List_of_colleges_and_universities_in_New_Jersey
state_pop = us_pop[0]
state_pop.columns = ['Rank', 'State', 'Population']

{'Rank': {0: 1,
  1: 2,
  2: 3,
  3: 4,
  4: 5,
  5: 6,
  6: 7,
  7: 8,
  8: 9,
  9: 10,
  10: 11,
  11: 12,
  12: 13,
  13: 14,
  14: 15,
  15: 16,
  16: 17,
  17: 18,
  18: 19,
  19: 20,
  20: 21,
  21: 22,
  22: 23,
  23: 24,
  24: 25,
  25: 26,
  26: 27,
  27: 28,
  28: 29,
  29: 30,
  30: 31,
  31: 32,
  32: 33,
  33: 34,
  34: 35,
  35: 36,
  36: 37,
  37: 38,
  38: 39,
  39: 40,
  40: 41,
  41: 42,
  42: 43,
  43: 44,
  44: 45,
  45: 46,
  46: 47,
  47: 48,
  48: 49,
  49: 50},
 'State': {0: 'California',
  1: 'Texas',
  2: 'Florida',
  3: 'New York',
  4: 'Pennsylvania',
  5: 'Illinois',
  6: 'Ohio',
  7: 'Georgia',
  8: 'North Carolina',
  9: 'Michigan',
  10: 'New Jersey',
  11: 'Virginia',
  12: 'Washington',
  13: 'Arizona',
  14: 'Massachusetts',
  15: 'Tennessee',
  16: 'Indiana',
  17: 'Missouri',
  18: 'Maryland',
  19: 'Wisconsin',
  20: 'Colorado',
  21: 'Minnesota',
  22: 'South Carolina',
  23: 'Alabama',
  24: 'Louisiana',
  25: 'Kentucky',
  26: 'Oregon',
  27: 'Oklahoma',
  28: 'Connecticut',
  29: 'Iowa',
  30: 'Utah',
  31: 'Arkansas',
  32: 'Nevada',
  33: 'Mississippi',
  34: 'Kansas',
  35: 'New Mexico',
  36: 'Nebraska',
  37: 'West Virginia',
  38: 'Idaho',
  39: 'Hawaii',
  40: 'New Hampshire',
  41: 'Maine',
  42: 'Rhode Island',
  43: 'Montana',
  44: 'Delaware',
  45: 'South Dakota',
  46: 'North Dakota',
  47: 'Alaska',
  48: 'Vermont',
  49: 'Wyoming'},
 'Population': {0: 39536653,
  1: 28304596,
  2: 20984400,
  3: 19849399,
  4: 12805537,
  5: 12802023,
  6: 11658609,
  7: 10429379,
  8: 10273419,
  9: 9962311,
  10: 9005644,
  11: 8470020,
  12: 7405743,
  13: 7016270,
  14: 6859819,
  15: 6715984,
  16: 6666818,
  17: 6113532,
  18: 6052177,
  19: 5795483,
  20: 5607154,
  21: 5576606,
  22: 5024369,
  23: 4874747,
  24: 4684333,
  25: 4454189,
  26: 4142776,
  27: 3930864,
  28: 3588184,
  29: 3145711,
  30: 3101833,
  31: 3004279,
  32: 2998039,
  33: 2984100,
  34: 2913123,
  35: 2088070,
  36: 1920076,
  37: 1815857,
  38: 1716943,
  39: 1427538,
  40: 1342795,
  41: 1335907,
  42: 1059639,
  43: 1050493,
  44: 961939,
  45: 869666,
  46: 755393,
  47: 739795,
  48: 623657,
  49: 579315}}

In [ ]:

# OSX Users can run this to open the file in a browser, 
# or you can manually find the file and open it in the browser
!open table.html